.errorPage {
  min-height: 100svh;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: 1px solid black;
}

.container {
  width: 50%;
  text-align: center;
  text-wrap: balance;
  color: var(--accent);
}

.container h1 {
  color: var(--secondary);
}
