/* START The whole component */
.nav {
  display: flex;
  align-items: center;
  padding: 0 2vw;
}

.nav a {
  color: var(--primary-main);
  padding: 1.5vmin;
  border-radius: 5px;
}
/* END */

/* START The heading */
.siteName {
  font-family: "Lobster", cursive;
  font-size: 2.5rem;
  margin: 0;
  padding: 0;
}

a:has(.siteName) {
  text-decoration: none;
}
/* END */

/* START The list containing the links */
.navList {
  flex: 1;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  gap: 2vw;
  align-items: center;
  padding: 0;
}

.alignRight {
  justify-content: flex-end;
}
/* END */

/* The toggle cart button */
.cartBtn {
  position: relative;
  padding: 1vmin;
  border: none;
  background: none;
  color: var(--accent);
  cursor: pointer;
  align-self: flex-end;
  justify-self: flex-end;
}

/* The indicator showing the number of items in the cart */
.cartIndicator {
  background-color: var(--accent);
  color: var(--primary-main);
  padding: 1vmin;
  position: absolute;
  top: -25%;
  right: -15%;
  border-radius: 50px;
}

/* Link to current page */
.activeLink {
  color: var(--primary-main) !important;
  background-color: var(--accent);
}

/* Link to page clicked but before the page loads */
.pendingLink {
  color: var(--accent) !important;
}

/* Visually hiding the button name so it can be read by screen readers */
.visuallyHidden {
  opacity: 0;
  position: absolute;
  z-index: -1;
}
