/* The whole component(forgive me for the naming inconsistency */
.categorySelector {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1vh 1vw;
  margin: 0;
  background-color: var(--primary-off);
  box-shadow: 1px 0px 5px 2px var(--accent);
}

/* Individual category item */
.categorySelector > li {
  margin: 2vh 0;
  min-width: 15vw;
  padding: 1vw;
  text-align: center;
  border-radius: 5px;
}

/* applying background color for whole list item if it has active link */
.categorySelector > li:has(a.activeLink) {
  background-color: var(--accent);
}

/* current active link */
.activeLink {
  color: var(--primary-main);
}

/* for the pending state between the link is pressed till it's loaded */
.pendingLink {
  color: var(--secondary);
}
