/* The whole component */
.carousel {
  position: relative;
  margin: 3vh 0;
}

/* The img tag */
.productImg {
  display: block;
  margin: 0 auto;
  width: 50%;
  height: 50svh;
  cursor: pointer;
  mix-blend-mode: multiply;
}

/* START The transition states */
.productImgAppear {
  translate: -150%;
  opacity: 0;
}
.productImgAppearActive {
  opacity: 1;
  translate: 0;
  transition:
    translate 1.5s,
    opacity 1.5s;
}
.productImgAppearDone {
  translate: 0;
  opacity: 1;
}
.productImgEnter {
  translate: -150%;
  opacity: 0;
}
.productImgEnterActive {
  translate: 0;
  opacity: 1;
  transition:
    translate 1.5s,
    opacity 1.5s;
}
.productImgEnterDone {
  translate: 0;
  opacity: 1;
}
.productImgExit {
  translate: 0;
  opacity: 1;
}
.productImgExitActive {
  translate: 150%;
  opacity: 0;
  transition:
    translate 1.5s,
    opacity 1.5s;
}
.productImgExitDone {
  translate: 150%;
  opacity: 0;
}
/* END */

/* All of the small indicators at the bottom */
.indicators {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1vw;
  margin-top: 5vh;
}

/* Individual indicator div */
.imgIndicator {
  width: 10px;
  min-height: 10px;
  background-color: var(--primary-off);
  border-radius: 100px;
}

/* Showing the current img indicator with slightly different style */
.currentImg {
  composes: imgIndicator;
  background-color: var(--accent);
}
