/* START The whole component */
.productItem {
  padding: 1vh 1vw;
  display: grid;
  justify-items: center;
  background-color: var(--primary-off);
  box-shadow: 0 0 10px 1px var(--accent);
}

.productItem img {
  display: block;
  width: 200px;
  height: 200px;
  mix-blend-mode: normal;
}

.productItem ::-webkit-scrollbar {
  width: 5px;
}

.productItem ::-webkit-scrollbar-thumb {
  background-color: var(--accent);
}
/* END */

/* START The add to cart and buy now buttons */
.controls {
  display: flex;
  gap: 1vw;
}

.controls > button {
  background-color: var(--accent);
  padding: 2vh 3vw;
  color: var(--primary-main);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
/* END */

/* Add to cart button */
.addToCart {
  display: grid;
  gap: 1vw;
  align-items: center;
}

/* START Add to cart form */
.addForm {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 1vh;
}

.addForm > input {
  grid-column: 1 / 3;
  width: 100%;
  background-color: var(--primary-main);
  border: none;
  padding: 0 1vw;
}

.addForm > button {
  padding: 1vh 2vw;
  border-radius: 5px;
  border: none;
  background-color: var(--accent);
  color: var(--primary-main);
  cursor: pointer;
}
/* END */

/* The name of the product */
.title {
  height: 5vh;
  text-align: center;
  text-wrap: balance;
  font-family: "Kaushan Script", cursive;
}

/* Product description */
.description {
  height: 12vh;
  overflow: auto;
  text-align: center;
  text-wrap: balance;
}

/* visually hiding the label so it's only read by screen readers */
.visuallyHidden {
  opacity: 0;
  position: absolute;
  z-index: -1;
}
