/* whole component */
.homePage {
  overflow-y: auto;
  height: 100%;
  overflow-x: hidden;
}

/* START (idk what to call it lol) welcome section  */
.homeHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.homeHeader > p > a {
  margin: 0 1vw;
}
/* END */

/* Link to current page */
.activeLink {
  color: var(--accent);
}

/* link to next page before it's loaded */
.pendingLink {
  color: var(--secondary);
}

/* link to shop page */
.cta {
  background-color: var(--accent);
  color: var(--primary-main);
  padding: 1vmax;
  border-radius: 5px;
}
