/* START The whole component */
.checkoutPage {
  height: 100%;
  overflow: auto;
}

.checkoutPage img {
  width: 100px;
  height: auto;
}

.checkoutPage ul {
  padding: 0;
}
/* END */

/* If the cart is empty */
.emptyCart {
  height: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* START If the cart is not empty */
.nonEmptyCart {
  display: grid;
  grid-template-columns: 1fr auto;
  height: 100%;
}

.nonEmptyCart ::-webkit-scrollbar {
  width: 0.5vw;
}
/* END */

/* The list of items in the cart */
.cartItems {
  display: flex;
  flex-direction: column;
  gap: 1vh;
  overflow: auto;
}

/* Individual cart item */
.productItem {
  width: 60%;
  margin: 0 auto;
  padding: 1vh 1vw;
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  gap: 2vw;
  background-color: var(--primary-off);
  border-radius: 5px;
}

/* START The cart total display */
.cartTotal {
  padding: 1vh 2vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--primary-off);
  box-shadow: -1px 0px 5px 2px var(--accent);
}

.cartTotal > button {
  padding: 1vmax 2vmax;
  border-radius: 5px;
  background-color: var(--accent);
  color: var(--primary-main);
  border: none;
  cursor: pointer;
}
/* END */

/* The back button when user clicks on buy */
.backBtn {
  padding: 1vmax 2vmax;
  border-radius: 5px;
  border: none;
  background-color: var(--secondary);
  color: var(--primary-main);
  cursor: pointer;
}

/* Link to current page */
.activeLink {
  color: var(--accent);
}

/* Link to next page clicked before it's loaded */
.pendingLink {
  color: var(--secondary);
}

/* Visually hiding button labels so it's read by screen readers */
.visuallyHidden {
  opacity: 0;
  position: absolute;
}

/* remove cart item button */
.removeBtn {
  background: none;
  border: none;
  color: var(--accent);
  cursor: pointer;
}
